* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
}
h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(230, 153, 9);
}
.calculator {
    height: 420px;
    width: 300px;
    
    box-shadow: 0 0 5px orange;
    border-radius: 20px;
    padding: 20px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


input {
    width: 95%;
    height: 70px;
    margin: 20px 0px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgb(207, 206, 206);
    background-color: transparent;
    text-align: right;
    color: white;
    font-size: 40px;
    padding-right: 15px;

    
}

.calculator::after {
    content: "MD MERAJ";
    color: rgb(89, 87, 87);
    font-size: 11px;
    position: relative;
    font-family: sans-serif;
    left: 97px;

}

input::placeholder {
    color: white;
    font-size: 40px;
    
}

button {
    height: 50px;
    width: 50px;
    border: none;
    box-shadow: 0 1px 3px orange;
    border-radius: 50%;
    margin: 5px 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.equalBtn {
    background-color: orange;
}

.operator {
    color: green;
    font-weight: bo;
}


